body {
	background: linear-gradient(-45deg, #eaf27c, #fcf1ed, #fdd997);
	background-size: 800% 800%;
	animation: gradient 15s ease infinite;
	font-family: "Nunito", serif;
	text-transform: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*****************
    - Header -
*****************/

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Open Sans:400,600,800");
h1,
h2,
h3,
h4,
h5,
h6,
div,
input,
p,
a {
	font-family: "Open Sans";
	margin: 0px;
}

a,
a:hover,
a:focus {
	color: inherit;
}

body {
	background-color: #f1f2f3;
}

.container-fluid,
.container {
	max-width: 1200px;
}

.card-container {
	padding: 100px 0px;
	-webkit-perspective: 1000;
	perspective: 1000;
}
.guest3 {
	top: 150px;
	left: 200px;
}
.guest4 {
	top: 150px;
	right: 320px;
}
.guest6 {
	top: 150px;
	right: 70px;
}

.profile-card {
	max-width: 200px;
	min-width: 200px;
	height: 240px;
	background-color: #fff;
	box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
	background-position: center;
	overflow: hidden;
	position: absolute;
	cursor: pointer;
	border-radius: 10px;
}

.profile-card img {
	transition: all linear 0.25s;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profile-card .profile-name {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	padding: 0px 2px;
	font-size: 14px;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	font-weight: bold;
	transition: all linear 0.25s;
}

.profile-card .profile-icons {
	position: absolute;
	bottom: 30px;
	right: 30px;
	color: #fff;
	transition: all linear 0.25s;
}

.profile-card .profile-username {
	color: #fff;
	text-shadow: 2px 2px 4px #000;
	font-size: 10px;
	transition: all linear 0.25s;
}

.profile-card .profile-icons .fa {
	margin: 5px;
}
.profile-card:hover .btn {
	position: relative;
	/* top: -50px; */
	transform: translate(0, -70px);
	transition: 0.5s ease;
}
.profile-card:hover img {
	filter: grayscale(100%);
}

.profile-card:hover .profile-name {
	bottom: 70px;
}

.profile-card:hover .profile-icons {
	right: 40px;
}
